/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Fredoka+One|Comfortaa:300';
$font: "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Monaco", "Consolas", monospace;
* {
    font-family: $font;
}
$body: #190d23;
$none: rgba(#000,0);
$b1: #010000;



body {
    background: $body;
    text-align: center;
}