/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Fredoka+One|Comfortaa:300';
$font: "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Monaco", "Consolas", monospace;
* {
    font-family: $font;
}
$body: #190d23;
$none: rgba(#000,0);
$b1: #010000;


h1{
    font-size: 60px;
    text-transform: uppercase;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 42px;
}
body {
    background: $body;
    text-align: center;
}